/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

html {
  background: #232323;
  min-height: 100%;
}

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif; font-weight: lighter;}
body, select, input, textarea {color: #333;}
a {color: #333;}
a:hover {color: #666;}

h1 {
	font-size: 200%;
}

.btn {
  display: block;
  cursor: pointer;
  margin: 10% auto;
  position: relative;
  width: 25%;
}

.btn p {
  color: #FFFFFF;
  display: block;
  font-family: Courier;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  transition: color 0.25s ease;
}

.btn:hover p {
  color: #fff200;
}

.open p {
  display: none;
}

svg {
  display: block;
  position: absolute;
  top: 10px;
}

.btn-border {
  transition: stroke 0.25s ease;
  display: block;
}

.btn:hover .btn-border {
  stroke: #fff200;
}

.open .btn-border {
  display: none;
}

.close-btn {
  display: none;
}

.close-btn line,
.close-btn rect {
  transition: stroke 0.25s ease;
}

.close-btn:hover line,
.close-btn:hover rect {
  stroke: #fff200;
}

.open .close-btn {
  display: block;
}

/* Media queries!
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	
		
}
