/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

html {
  background: #232323;
  min-height: 100%;
}

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif; font-weight: lighter;}
body, select, input, textarea {color: #333;}
a {color: #333;}
a:hover {color: #666;}

h1 {
	font-size: 200%;
}

.btn {
  display: block;
  cursor: pointer;
  margin: 5% auto;
  min-height: 100px;
  position: relative;
  width: 25%;
}

.btn p {
  color: #FFFFFF;
  display: block;
  font-family: Courier;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  transition: color 0.25s ease;
}

.btn:hover p,
.open p {
  color: #fff200;
}

svg {
  display: block;
  position: absolute;
  top: 10px;
}

.btn-border {
  transition: stroke 0.25s ease;
  display: block;
}

.btn:hover .btn-border {
  stroke: #fff200;
}

.close-btn {
  display: none;
}

.close-btn-x {
  display: none;
}

.close-btn .close-btn-border,
.close-btn .close-btn-x {
  transition: stroke 0.25s ease;
}

.close-btn:hover .close-btn-border,
.close-btn:hover .close-btn-x {
  stroke: #fff200;
}

.open .close-btn {
  display: block;
}


/*
 *
 * CSS Button Animation
 *
 */
.css-btn {
  display: block;
  cursor: pointer;
  margin: 5% auto;
  min-height: 100px;
  position: relative;
  width: 25%;
}

.css-btn-text {
  color: #FFFFFF;
  display: block;
  font-family: Courier;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 1;
  text-align: center;
  transition: opacity .4s ease, color 0.15s ease;
}

.css-btn:hover .css-btn-text {
  color: #fff200;
}

.closed .css-btn-text {
  transition-delay: .5s;
}

.open .css-btn-text {
  opacity: 0;
}

svg {
  display: block;
  position: absolute;
  top: 10px;
}

.css-btn-border {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  stroke-dasharray: 301.1678161621094 301.1678161621094;
  stroke-dashoffset: 0;
}

.closed .css-btn-border {
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.open .css-btn-border {
  stroke-dashoffset: -301.1678161621094;
}

.css-btn:hover .css-btn-border {
  stroke: #fff200;
}

.css-close-btn-border {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  stroke-dasharray: 121.2001724243164 121.2001724243164;
  stroke-dashoffset: -121.2001724243164;
}

.open .css-close-btn-border {
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  stroke-dashoffset: 0;
}

.css-close-btn-x {
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 0;
}

.open .css-close-btn-x {
  transition-delay: .3s;
  opacity: 1;
}

.css-close-btn:hover .css-close-btn-border,
.css-close-btn:hover .css-close-btn-x {
  stroke: #fff200;
}

/*
 *
 * New Button Animation
 *
 */
.new-btn {
  display: block;
  cursor: pointer;
  margin: 5% auto;
  min-height: 100px;
  position: relative;
  width: 25%;
}

.new-btn-text {
  color: #FFFFFF;
  display: block;
  font-family: Courier;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 1;
  text-align: center;
  -webkit-transition: opacity .5s ease, color 0.15s ease;
  -moz-transition: opacity .5s ease, color 0.15s ease;
  -o-transition: opacity .5s ease, color 0.15s ease;
  transition: opacity .5s ease, color 0.15s ease;
}

.new-btn:hover .new-btn-text {
  color: #fff200;
}

.closed .new-btn-text {
  -webkit-transition-delay: opacity 1s;
  -moz-transition-delay: opacity 1s;
  -o-transition-delay: opacity 1s;
  transition-delay: opacity 1s;
}

.open .new-btn-text {
  opacity: 0;
}

svg {
  display: block;
  position: absolute;
  top: 10px;
}

.new-btn-border {
  -webkit-transition: stroke-dashoffset .4s ease;
  -moz-transition: stroke-dashoffset .4s ease;
  -o-transition: stroke-dashoffset .4s ease;
  transition: stroke-dashoffset .4s ease;
  stroke-dasharray: 258.6000061035156 258.6000061035156 ;
  stroke-dashoffset: 0;
}

.closed .new-btn-border {
  -webkit-transition-delay: stroke-dashoffset .35s;
  -moz-transition-delay: stroke-dashoffset .35s;
  -o-transition-delay: stroke-dashoffset .35s;
  transition-delay: stroke-dashoffset .35s;
}

.open .new-btn-border {
  stroke-dashoffset: -258.6000061035156 ;
}

.new-btn:hover .new-btn-border,
.new-btn:hover .new-close-btn-border,
.new-btn:hover .new-btn-x-left,
.new-btn:hover .new-btn-x-right {
  stroke: #fff200;
}

.new-close-btn-border {
  -webkit-transition: stroke-dashoffset .35s ease;
  -moz-transition: stroke-dashoffset .35s ease;
  -o-transition: stroke-dashoffset .35s ease;
  transition: stroke-dashoffset .35s ease;
  stroke-dasharray: 121.00017547607422 121.00017547607422;
  stroke-dashoffset: -121.00017547607422;
}

.open .new-close-btn-border {
  -webkit-transition-delay: stroke-dashoffset .4s;
  -moz-transition-delay: stroke-dashoffset .4s;
  -o-transition-delay: stroke-dashoffset .4s;
  transition-delay: stroke-dashoffset .4s;
  stroke-dashoffset: 0;
}

.new-btn-x-left,
.new-btn-x-right {
  -webkit-transition: stroke-dashoffset .35s ease;
  -moz-transition: stroke-dashoffset .35s ease;
  -o-transition: stroke-dashoffset .35s ease;
  transition: stroke-dashoffset .35s ease;
}

.open .new-btn-x-left,
.open .new-btn-x-right {
  -webkit-transition-delay: stroke-dashoffset .4s;
  -moz-transition-delay: stroke-dashoffset .4s;
  -o-transition-delay: stroke-dashoffset .4s;
  transition-delay: stroke-dashoffset .4s;
}

.new-btn-x-left {
  stroke-dasharray: 29.132801055908203 29.132801055908203;
  stroke-dashoffset: -6;
}

.open .new-btn-x-left {
  stroke-dashoffset: 12;
}

.new-btn-x-right {
  stroke-dasharray: 30.12308120727539 30.12308120727539;
  stroke-dashoffset: 6;
}

.open .new-btn-x-right {
  stroke-dashoffset: -13;
}

/* Media queries! .75s;
 * }
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	
		
}
